<div class="container">
  <form (ngSubmit)="onSubmit()" method="post" enctype="multipart/form-data">

<header class="pageHeader">
  <h3><i class="fa fa-handshake-o fa-lg page-caption" aria-hidden="true"></i> الأحوال</h3>
</header>

                <dx-data-grid 
                id="gridContainer"
                [dataSource]="dataSource"
                [showBorders]="true" 
                [rtlEnabled]="true"
                [hoverStateEnabled]="true"
                [selectedRowKeys]="[]"
                (onToolbarPreparing)="onToolbarPreparing($event)"
              >    
                <dxo-paging [pageSize]="80"></dxo-paging>
                <dxo-pager 
                [showPageSizeSelector]="true"
                [allowedPageSizes]="[80, 50, 10]"
                [showInfo]="true">
            </dxo-pager>
               
            
            <dxo-export [enabled]="true" fileName="Vehicle"></dxo-export>
            
            <dxo-header-filter 
            [visible]="true"></dxo-header-filter>
            <dxo-column-chooser [enabled]="true" mode="select"></dxo-column-chooser>
            
            <dxo-grouping [autoExpandAll]="true"></dxo-grouping>
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-header-filter [visible]="true"></dxo-header-filter>

            <dx-load-panel
                #loadPanel
                shadingColor="rgba(0,0,0,0.4)"
                [position]="{ of: '#gridContainer' }"
                [(visible)]="loadingVisible"
                [showIndicator]="true"
                [showPane]="true"
                [shading]="true"
                [closeOnOutsideClick]="false"
                (onShown)="onShown()">
            </dx-load-panel>
            <dxi-column dataField="sectordesc" [groupIndex]="0" caption="القطاع"></dxi-column>
            <dxi-column dataField="milnumber" caption="الرقم العسكري"></dxi-column>
            <dxi-column dataField="rankdesc" [groupIndex]="2" caption="الرتبه"></dxi-column>
            <dxi-column dataField="personname" caption="الاسم"></dxi-column>
            <dxi-column dataField="callerid" caption="النداء"></dxi-column>
            <dxi-column dataField="platenumber"  caption="الدورية"></dxi-column>
            <dxi-column dataField="sunrisetimestamp" caption="شروق"></dxi-column>
            <dxi-column dataField="sunsettimestamp" caption="غروب"></dxi-column>
            <dxi-column dataField="personmobile" caption="الجوال"></dxi-column>
            <dxi-column dataField="laststatechangetimestamp" caption="وقت الحالة"></dxi-column>
            <dxi-column dataField="PatrolPersonStateID" caption="الحالة"></dxi-column>
            <dxi-column  caption=""  [allowFiltering]="false" [width]="50" cellTemplate="maptemplate" ></dxi-column>
            <div *dxTemplate="let data of 'maptemplate'">
               <a  routerLink="/map" > <img src="../../../../assets/images/haritayikaydir_r_glow.png"  /></a>
                </div>
              </dx-data-grid>
          </form>
</div>
